@model IEnumerable<GymStats.Models.Ejercicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmocionInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmocionFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmocionInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmocionFinal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EjercicioID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EjercicioID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EjercicioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
